
	<section id="sectionCircuitPath">
		<div class="container" ng-controller="SignUpController">
			<div class="row">
				<div class="col-sm-4 form-group" style="color: white;">
					<h1>Sign Up</h1>
					<fieldset>
						<label for="personName"> Name </label>
						<input type="text" ng-model="person.name" placeholder="name">
						<label for="personUsername"> username </label>
						<input type="text" ng-model="person.username">
						<label for="personPassword"> password </label>
						<input type="text" ng-model="person.password">
						<label for="personEmail"> email </label>
						<input type="text" ng-model="person.email">
						<label for="personGender"> gender </label>
						<input type="text" ng-model="person.gender">
					</fieldset>
				</div>
				<div class="col-sm-8">
				</div>
			</div>
		</div>
		
	</section>